:root {
    --backgr-color:rgb(0, 0, 0);
    --text-color:white ;
    --text-color-secondary:#00de75 ;
    --primary-color:#00de75 ;
    --secondary-color:white ;
    --tertiary-color:#009951 ;
    --quaternary-color:#404040 ;
    --quinary-color:#00ff87;
}
body {
    background-color: var(--backgr-color);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color:rgb(0, 0, 0)
}
.header-container {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between ;
    align-items: top;
}
 
.logo h1 {
    color: #fff;
    font-family: 'Train One', serif;
    font-size: 30px;
    background: rgb(255, 255, 255) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    margin: 0%;
    
}
/* ======================================================================================================================================================================================================== */
.search_bar {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: .8vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    width: 700px;
    transition: .4s;
  }
  .input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 235, 183, 0.186);
  }
  .input:focus {
    box-shadow: 0 0 0 .15vw rgb(80, 238, 183);
  }
/* ======================================================================================================================================================================================================== */
.nav-menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Prosto One', serif;
    font-size: 20px;
    transition: color 0.3s ease;
}
.nav-menu a:hover {
    color: var(--quinary-color);
}
.title_img_container{
    display:flex;
    justify-content: space-between ;
    margin-top: 5%;
    position: relative;
}
.title-main {
    color: var(--text-color);
    font-family: "Prosto One", serif;
    font-size: 80px;
}
.title-container {
margin-left: 5%;
width: 40%
}
.abstrtact_image {
    width: 800px;
    height: 600px;
    padding-top:18% ;
}
.abstrtact_image_container {
z-index: 1;
width: 44%;
position: relative;
background-image: url("10.png");
height: 1200px ;
}
.summ_info{
    color:var(--text-color);
    font-family: "Cormorant Unicase";
    font-size: 40px;
    margin-top: 10% ;
    border: 3px solid #144f49 ;
    border-radius: 30% 70% / 50% 50%;
    background-color: #144f49;
    border-width: 40px
    
    
}
.main_button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 35px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    
   }
   .main_button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: -10px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   .main_button:hover {
    color: #e8e8e8;
   }
   .main_button:hover::before {
    width: 100%;
   }
.btns_main {
    display: flex;
    gap:30px
}

.second_title_text {
    color:#ffffff;
    font-family:"Prosto One", serif ;
    font-size: 70px;
}

.second_title_text_container{
    display: flex;
    justify-content: center;
}

.second_abstrtact_image{
    background-image: url("9.png");
    width: 1280px;
    height:1280px;
    position: relative;
    z-index: 2;
}

.second_abstrtact_image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.grid-text-container {
    display: flex;
    align-items: center;
    height: 1280px;
}
.grid-text {
    width: 1000px;
    height: 300px;
    color:white;
    text-align: center;
    background-color: #000000d5;
    font-family:"Prosto One", serif ;
    font-size:25px;
    padding-top: 50px
}

.bottom_info {
    font-family:"Prosto One", serif ;
    color: #ffffff;
    justify-content: center;
    background-color:#111111;

}

.bottom_title {
    display: flex;
    justify-content: left;
    margin-left: 1%
    
}

.oplata_info{
    display: flex;
    gap: 2%;
    padding-left: 1%;
}

.information_bttns {
   color: white;
   display: flex;
   gap: 2%;
   padding-left: 1%;
}

.information {

}

/* From Uiverse.io by Kabak */ 
.support_button {
  font-family:"Prosto One", serif ;
  height: 50px;
  margin: 5px;
  width: 100%;
  background: #00ff87;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid #00ff87 1px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #000000, #000000);
  -webkit-box-shadow: -1px -5px 15px #00ff87, 5px 5px 15px #00ff87,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #00532c, 5px 5px 15px #00532c,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

.support_button:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.support_button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}


.container {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.068);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: left;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  color: #ffffff;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}
.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
  background-color: #1db954;
}
.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"] ~ .tooltip {
  background-color: #bd081c;
}
.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"] ~ .tooltip {
  background-color: #22293f;
}
.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
  background-color: #0088cc;
}

.tooltip_div {
     margin-top: 4%;
}
